@model List<SportsGrounds.Models.Map>
@{

}
<div class="text-center">
    <h1 class="display-4">Hello wolrd</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div id="map" style="width: 1000px; height: 1000px"></div>
    <a asp-action="LoadGeoObjInServ" asp-controller="Map" >Загрузить данные на сервер</a>
    <a asp-action="GetGeoObjFromServ" asp-controller="Map" >Получить данные с сервера</a>
<script type="text/javascript">

    ymaps.ready(init);

    function init() {
        var myMap = new ymaps.Map("map", {
        center: [55.75322, 37.622513],
        zoom: 10,
        controls: ['zoomControl'],
        behaviors: ['drag']
    });
    var location = ymaps.geolocation.get();
                @if (Model != null)
        {
            foreach (var item in Model)
            {
               <text>

               var placemark = new ymaps.Placemark([@item.Latitude,@item.Longitude],{
                   balloonContent: [
                       '<div>',
                       '<form asp-action="GetInfObj" asp-controller="GeoObj">',
                       '<label>Адрес:<input type="text" name="Address" value="@item.Address" disabled/></label>',
                       '<label>Тип СО:<input type="text" name="Address" value="@item.Type" disabled/></label>',
                       '<label>Широта:<input type="text" name="Latitude" value="@item.Latitude" disabled/></label>',
                       '<label>Долгота:<input type="text" name="Longitude" value="@item.Longitude" disabled/></label>',
                       '<input type="text" name="Id" value="@item.Id" disabled hidden/>',
                       '<button type="submit">Подробнее</button>',
                       '</form>',
                       '</div>'
                   
                   ]
                   
               });
               myMap.geoObjects.add(placemark);
               </text>

            }
        }
}

</script>
</div>